body{
    text-align: center;
    background-color: rgb(116, 206, 245);
    color:aliceblue;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
h1{
    color:aliceblue
}
h2{
    color:aliceblue;
    /* text-align: left; */
}
.container{
    margin: 0.89%;
    /* background-color: rgb(253, 0, 156); */
    display: flex;
    flex-direction: column;
    
}
#header{
    width: 70%;
    height:0;
    padding-bottom: min(100px,10%);

    max-width: 700px;
    max-height: 600px;

    border: medium solid rgb(2, 0, 141);

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap
}
#board{
    width: 70%;
    height:0;
    padding-bottom: min(600px,60%);

    max-width: 700px;
    max-height: 600px;

    background-color:rgb(153, 155, 245);
    border: medium solid rgb(2, 0, 141);
    border-radius: 5%;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap
}
#moveHeader{
    width: 70%;
    height:0;
    padding-bottom: min(100px,10%);

    max-width: 700px;
    max-height: 100px;
/* 
    background-color:rgb(0, 2, 80);
    border: medium solid rgb(2, 0, 141); */
    border-radius: 5%;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap
}
.tile{
    height:0;
    padding-bottom: 12.5%;
    width: 12.5%;
    margin: 0.89%;

    background-color: aliceblue;
    border-radius: 50%;
    outline: 2.5px solid rgb(2, 0, 141);
}
.htile{
    height:0;
    padding-bottom: 12.5%;
    width: 12.5%;
    margin: 0.89%;

    /* background-color: aliceblue; */
    border-radius: 50%;
    /* outline: 2.5px solid rgb(2, 0, 141); */
}
button{
    font-size: 125%;
    margin: .2%;
    color:aliceblue;
    background-color:rgb(153, 155, 245);
    align-self: center;
    outline: 2.5px solid rgb(2, 0, 141);
    border-radius: 10%;
}
select{
    font-size: 125%;
    margin: .3%;
    color:aliceblue;
    background-color:rgb(153, 155, 245);
    width: max-content;
    align-self: center;
    outline: 2.5px solid rgb(2, 0, 141);
    border-radius: 10%;
}
.player{
    background-image: radial-gradient(rgb(255, 105, 105), rgb(255, 64, 64), rgb(255, 0, 0));

}
.playerHover{
    background-image: radial-gradient(rgb(255, 105, 105), rgb(255, 64, 64), rgb(255, 0, 0));
}
.cpu{
    background-image: radial-gradient(rgb(255, 217, 105), rgb(255, 217, 64), rgb(255, 217, 0));
}
.playerWinner{
    outline: 3px solid rgb(143, 3, 3);
    animation: playerWins 1s linear infinite alternate;
}
.cpuWinner{
    outline: 3px solid rgb(243, 243, 64);
    /* background-image: url("/Resources/surprised-pikachu-meme.png"); */
    /* background-size: cover; */
    animation: cpuWins 1s linear infinite alternate;
}
@keyframes cpuWins {
    0%{
        scale:100%;
    }
    100%{
        scale:110%;
    }
    
}
@keyframes playerWins {
    0%{
        scale:100%;
    }
    100%{
        scale:110%;
    }
}